body {
    font: normal 100%/1.4 sans-serif;
    color: #181818;
}
body > div {
    max-width: 32em;
    padding: 0 2em;
}
h1 {
    font-size: 2em;
    line-height: 1.1em;
    color: #000;
}
h2 {
    margin-bottom: 0.4em;
}
h3 {
    line-height: 1em;
    margin: 0 0 .4em;
}
ul {
    margin: 0 0 1.6em;
    padding: 0;
    list-style: none;
}
li {
    line-height: 1.2em;
    margin: 0 0 0.6em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    font-size: 0.75em;
    color: #999;
}
